.navbar.navbar-inverse.navbar-fixed-top
  .container
    .row
      .cols-md-12
        .navbar-header
          a.navbar-brand(href='/') Alfred Notes
        nav.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/logout') Log Out
            else
              li
                a(href='/register') Sign Up
              li
                a(href='/login') Log In
