.navbar.navbar-inverse.navbar-fixed-top
  .container
    .row
      .cols-md-12
        .navbar-header
          a.navbar-brand Alfred Notes
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/register') Sign Up
          li
            a(href='/login') Log In