extends ../layout

block content
  h1 Log In
  h4 The easiest way to keep track of notes during development

  .login-form
    form( action='/login', method='post' )
      label Username
      input( name='username', type='text' )
      label Password
      input( name='password', type='password' )
      button Log In